<%= error_messages_for 'newsletter' %>

<p><label for="mailing_list"><%= t("mailing_list") %></label><br/>
  <%= form.select :mailing_list_id, MailingList.find(:all).collect {|p| [ p.name, p.id ] } %><br/></p>

<p><label for="subject"><%= t("subject") %></label><br/>
<%= form.text_field 'subject' %></p>

<p><%= form.text_area :body,:class=>"ckeditor" %></p>



<% content_for :head do -%>
  <%= javascript_include_tag "ckeditor/ckeditor.js" %>
  <script type="text/javascript">
  window.onload = function()
  {
    CKEDITOR.editorConfig = function( config )
    {
    config.toolbar_Full =
    [
        ['Source','-','Save','NewPage','Preview','-','Templates'],
        ['Cut','Copy','Paste','PasteText','PasteFromWord','-','Print', 'SpellChecker', 'Scayt'],
        ['Undo','Redo','-','Find','Replace','-','SelectAll','RemoveFormat'],
        ['Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField'],
        '/',
        ['Bold','Italic','Underline','Strike','-','Subscript','Superscript'],
        ['NumberedList','BulletedList','-','Outdent','Indent','Blockquote'],
        ['JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock'],
        '/',
        ['Styles','Format','Font','FontSize'],
        ['TextColor','BGColor']
    ];
      config.entities = false;
    }
  }
  </script>
<% end -%>